In [1]:
import pandas as pd
import numpy as np

In [16]:
ab = pd.read_excel("population2020.xlsx")

In [17]:
ab

,Country,Population,Yearly Change,Net Change,Density,Land Area,Migrants,Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.0039,5540090,153,9388211,-348399.0,1.7,38,0.61,0.1847
1,India,1382345085,0.0099,13586631,464,2973190,-532687.0,2.2,28,0.35,0.1770
2,United States,331341050,0.0059,1937734,36,9147420,954806.0,1.8,38,0.83,0.0425
3,Indonesia,274021604,0.0107,2898047,151,1811570,-98955.0,2.3,30,0.56,0.0351
4,Pakistan,221612785,0.0200,4327022,287,770880,-233379.0,3.6,23,0.35,0.0283
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.0006,3,50,100,NaN,N.A.,N.A.,0.1,0.0000
231,Falkland Islands,3497,0.0305,103,0,12170,NaN,N.A.,N.A.,0.66,0.0000
232,Niue,1628,0.0068,11,6,260,NaN,N.A.,N.A.,0.46,0.0000
233,Tokelau,1360,0.0127,17,136,10,NaN,N.A.,N.A.,0,0.0000
234,Holy See,801,0.0025,2,2003,0,NaN,N.A.,N.A.,N.A.,0.0000

In [18]:
ab.isnull()

,Country,Population,Yearly Change,Net Change,Density,Land Area,Migrants,Fert. Rate,Med. Age,Urban Pop %,World Share
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
230,False,False,False,False,False,False,True,False,False,False,False
231,False,False,False,False,False,False,True,False,False,False,False
232,False,False,False,False,False,False,True,False,False,False,False
233,False,False,False,False,False,False,True,False,False,False,False
234,False,False,False,False,False,False,True,False,False,False,False

In [19]:
ab.dropna()

,Country,Population,Yearly Change,Net Change,Density,Land Area,Migrants,Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.0039,5540090,153,9388211,-348399.0,1.7,38,0.61,0.1847
1,India,1382345085,0.0099,13586631,464,2973190,-532687.0,2.2,28,0.35,0.1770
2,United States,331341050,0.0059,1937734,36,9147420,954806.0,1.8,38,0.83,0.0425
3,Indonesia,274021604,0.0107,2898047,151,1811570,-98955.0,2.3,30,0.56,0.0351
4,Pakistan,221612785,0.0200,4327022,287,770880,-233379.0,3.6,23,0.35,0.0283
...,...,...,...,...,...,...,...,...,...,...,...
196,Aruba,106845,0.0043,452,593,180,201.0,1.9,41,0.44,0.0000
197,Tonga,105901,0.0115,1201,147,720,-800.0,3.6,22,0.24,0.0000
198,U.S. Virgin Islands,104398,-0.0015,-153,298,350,-451.0,2,43,0.96,0.0000
199,Seychelles,98453,0.0062,608,214,460,-200.0,2.5,34,0.56,0.0000
200,Antigua and Barbuda,98069,0.0084,811,223,440,0.0,2,34,0.26,0.0000

In [20]:
ab.head(30)

,Country,Population,Yearly Change,Net Change,Density,Land Area,Migrants,Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.0039,5540090,153,9388211,-348399.0,1.7,38,0.61,0.1847
1,India,1382345085,0.0099,13586631,464,2973190,-532687.0,2.2,28,0.35,0.1770
2,United States,331341050,0.0059,1937734,36,9147420,954806.0,1.8,38,0.83,0.0425
3,Indonesia,274021604,0.0107,2898047,151,1811570,-98955.0,2.3,30,0.56,0.0351
4,Pakistan,221612785,0.0200,4327022,287,770880,-233379.0,3.6,23,0.35,0.0283
5,Brazil,212821986,0.0072,1509890,25,8358140,21200.0,1.7,33,0.88,0.0273
6,Nigeria,206984347,0.0258,5175990,226,910770,-60000.0,5.4,18,0.52,0.0264
7,Bangladesh,164972348,0.0101,1643222,1265,130170,-369501.0,2.1,28,0.39,0.0211
8,Russia,145945524,0.0004,62206,9,16376870,182456.0,1.8,40,0.74,0.0187
9,Mexico,129166028,0.0106,1357224,66,1943950,-60000.0,2.1,29,0.84,0.0165
10,Japan,126407422,-0.0030,-383840,347,364555,71560.0,1.4,48,0.92,0.0162
11,Ethiopia,115434444,0.0257,2884858,115,1000000,30000.0,4.3,19,0.21,0.0147
12,Philippines,109830324,0.0135,1464463,368,298170,-67152.0,2.6,26,0.47,0.0141
13,Egypt,102659126,0.0194,1946331,103,995450,-38033.0,3.3,25,0.43,0.0131
14,Vietnam,97490013,0.0091,876473,314,310070,-80000.0,2.1,32,0.38,0.0125
15,DR Congo,90003954,0.0319,2770836,40,2267050,23861.0,6,17,0.46,0.0115
16,Turkey,84495243,0.0109,909452,110,769630,283922.0,2.1,32,0.76,0.0108
17,Iran,84176929,0.0130,1079043,52,1628550,-55000.0,2.2,32,0.76,0.0108
18,Germany,83830972,0.0032,266897,240,348560,543822.0,1.6,46,0.76,0.0107
19,Thailand,69830779,0.0025,174396,137,510890,19444.0,1.5,40,0.51,0.0090
20,United Kingdom,67948282,0.0053,355839,281,241930,260650.0,1.8,40,0.83,0.0087
21,France,65298930,0.0022,143783,119,547557,36527.0,1.9,42,0.82,0.0084
22,Italy,60446035,-0.0015,-88249,206,294140,148943.0,1.3,47,0.69,0.0078
23,Tanzania,60012400,0.0298,1728755,67,885800,-40076.0,4.9,18,0.37,0.0077
24,South Africa,59436725,0.0128,750420,49,1213090,145405.0,2.4,28,0.67,0.0076
25,Myanmar,54473253,0.0067,364380,83,653290,-163313.0,2.2,29,0.31,0.0070
26,Kenya,53968739,0.0228,1197323,94,569140,-10000.0,3.5,20,0.28,0.0069
27,South Korea,51276977,0.0009,43877,527,97230,11731.0,1.1,44,0.82,0.0066
28,Colombia,50976248,0.0108,543448,46,1109500,204796.0,1.8,31,0.8,0.0065
29,Spain,46757980,0.0004,18002,94,498800,40000.0,1.3,45,0.8,0.0060

In [30]:
p=ab.nlargest(3,['Population']) # 3 largest countries with most population 2020 
print(p)

         Country  Population  Yearly Change  Net Change  Density  Land Area  \
0          China  1440297825         0.0039     5540090      153    9388211
1          India  1382345085         0.0099    13586631      464    2973190
2  United States   331341050         0.0059     1937734       36    9147420

   Migrants Fert. Rate Med. Age Urban Pop %  World Share
0 -348399.0        1.7       38        0.61       0.1847
1 -532687.0        2.2       28        0.35       0.1770
2  954806.0        1.8       38        0.83       0.0425

In [31]:
q=ab.nsmallest(3,["Population"]) # 3 least populated countries
print(q)

      Country  Population  Yearly Change  Net Change  Density  Land Area  \
234  Holy See         801         0.0025           2     2003          0
233   Tokelau        1360         0.0127          17      136         10
232      Niue        1628         0.0068          11        6        260

     Migrants Fert. Rate Med. Age Urban Pop %  World Share
234       NaN       N.A.     N.A.        N.A.          0.0
233       NaN       N.A.     N.A.           0          0.0
232       NaN       N.A.     N.A.        0.46          0.0

In [33]:
print(plt.pie(p['Population'].values, labels = p['Country'].values))
plt.show()

NameError: name 'plt' is not defined

In [34]:
plt.figure(figsize=[9,7])
ab['Population'].value_counts().plot.pie()
plt.show()

NameError: name 'plt' is not defined